<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>dev.anthonyhumphreys.anvil.speech-helper</string>
  <key>CFBundleName</key>
  <string>Anvil Speech Recognition</string>
  <key>CFBundleDisplayName</key>
  <string>Anvil Speech Recognition</string>
  <key>CFBundleExecutable</key>
  <string>apple-speech-recognition-helper</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>LSUIElement</key>
  <true/>
  <key>NSMicrophoneUsageDescription</key>
  <string>Anvil uses the microphone to turn speech into chat input.</string>
  <key>NSSpeechRecognitionUsageDescription</key>
  <string>Anvil uses speech recognition to turn speech into chat input.</string>
</dict>
</plist>
